global
	log stdout len 4096 format local syslog info

defaults
	timeout connect 5s
	timeout client 50s
	timeout server 50s

cache imgcache
	total-max-size 512 # MB
	max-object-size 20000000 # bytes = 20 MB
	max-age 3600 # seconds = 60 min
	
http-errors customerrors

frontend https-in
	bind 0.0.0.0:443 ssl crt /usr/local/etc/haproxy/ssl.pem no-sslv3
	mode http
	option httplog
	log global
	errorfiles customerrors

	# Options
	filter compression
	compression algo gzip
	compression type text/html text/css text/plain text/xml text/x-component text/javascript application/x-javascript application/javascript application/json application/manifest+json application/vnd.api+json application/xml application/xhtml+xml application/rss+xml application/atom+xml application/vnd.ms-fontobject application/x-font-ttf application/x-font-opentype application/x-font-truetype image/svg+xml image/x-icon image/vnd.microsoft.icon font/ttf font/eot font/otf font/opentype
	http-response set-header Strict-Transport-Security max-age=31536000;includeSubDomains;preload
	http-response set-header X-Content-Type-Options nosniff
	http-response set-header X-Frame-Options DENY
	http-response set-header X-XSS-Protection 1;mode=block
	http-response set-header Referrer-Policy same-origin
	http-response set-header Server bluntandsnakes

	# swagger
	# acl acl_swagger path_beg -i /swagger
	# use_backend swagger if acl_swagger

	# web
	default_backend web

backend web
	mode http
	option httpchk
	option forwardfor
	server web1 web:80
